
.title{
    text-align: center;
}


.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; 
    align-items: center;
  }
  
  .button:hover {
    background-color: #808080
  }