
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    text-align: center;
    background-color: #fed684;
    display: flex;
}

.nav{
    font-size: 18;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 100px; 
}
